# Vivado
*.cache/
*.runs/
*.hw/
*.ip_user_files/
*.sim/
*.Xil/
*.jou
*.log
*.str
*.wdb
*.pb

#
*.log
*.jou
*.str
*.html

#
*.tmp
*.backup

# Visual Studio
.vs

.project
dfx_runtime.txt

#
logs/*

work-obj*.cf

node_modules/
package-lock.json
package.json